parameters:
    level: 8
    paths:
        - ../src
        - ../tests
    ignoreErrors:
        -
            # Local debug class that may/may not be present
            message: '#Call to an undefined static method ___\\d::[A-Z0-9]+\(\)\.#'
            identifier: staticMethod.notFound
            reportUnmatched: false
